[submodule "Komet/vendor/spdlog"]
	path = Komet/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Komet/vendor/GLFW"]
	path = Komet/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Komet/vendor/imgui"]
	path = Komet/vendor/imgui
	url = https://github.com/thecherno/imgui
[submodule "Komet/vendor/glm"]
	path = Komet/vendor/glm
	url = https://github.com/g-truc/glm
